
    <img
        class='img-fluid'
        src='https://wallpaperaccess.com/full/1348797.jpg'
        alt=''
    />
    <br />
    <hr />
    <h1>Lastest Matches</h1>
    <table class='table table-striped'>
        <thead>
            <tr>
                <th scope='col'>#</th>
                <th scope='col'>Team 1</th>
                <th scope='col'></th>
                <th scope='col'>Team 2</th>
                <th scope='col'>Time</th>
                <th scope='col'>Location</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope='row'>1</th>
                <td><img src="../liver.png" alt="" style='width: 40px'>Liverpool</td>
                <td>vs</td>
                <td><img src="../mc.png" alt="" style='width: 40px'>Man City</td>
                <td>2:00 AM</td>
                <td>Anfield</td>
            </tr>
            <tr>
                <th scope='row'>2</th>
                <td><img src="../psg.png" alt="" style='width: 40px'>PSG</td>
                <td>vs</td>

                <td><img src="../real-madrid.png" alt="" style='width: 40px'>Real Madrid</td>
                <td>3:00 AM</td>
                <td>Parc des Princes</td>
            </tr>
            <tr>
                <th scope='row'>3</th>
                <td><img src="../juve.png" alt="" style='width: 40px'>Juventus</td>
                <td>vs</td>

                <td><img src="../barca.png" alt="" style='width: 40px'>Barcelona</td>
                <td>11:30 PM</td>
                <td>Camp Nou</td>
            </tr>
            <tr>
                <th scope='row'>4</th>
                <td><img src="../acmilan.png" alt="" style='width: 40px'>AC Milan</td>
                <td>vs</td>

                <td><img src="../aletico.png" alt="" style='width: 40px'>Aletico Madrid</td>
                <td>7:30 PM</td>
                <td>Wanda Metropolitan</td>
            </tr>
        </tbody>
    </table>
</div>