<div class='container-fluid'>
    <div class='row'>
        <table class='table table-striped'>
            <form method='post' action=''>
            <thead>
                <tr>
                    <th scope='col'>#</th>
                    <th scope='col'>Team</th>
                    <th scope='col'></th>
                    <th scope='col'>Score</th>
                </tr>
            </thead>
            <tbody>
                {{#each this.users as |U|}}
                    <tr>
                        <th scope='row'></th>
                        <td><img
                                src='../../{{U.avatar}}'
                                alt=''
                                style='width:40px'
                            />{{U.fullname}}</td>
                        <td></td>
                        <td><input type="number" name='{{U.fullname}}'></td>
                    </tr>
                {{/each}}
            </tbody>

            </table>
            <div class="col-sm-6 mx-auto mt-4 text-center">
                    <button class="btn btn-lg  btn-primary" type="submit">Save</button>
                </div></form>
        </table>
    </div>
</div>